@import 'variables';

.row {
    width: 100%;
    max-width: 100%;
}

ul {
    height: 100%;
}

// First Navbar
#first-navbar {

    #fnb-left {

    }

    #fnb-right {

    }

}


// Second Navbar
#second-navbar {

    #snb-left {

        #logo {
            max-height: 60px;
        }
    }

    #snb-center {
        font-weight: bolder;

        // Выпадающее меню
        .pointer {
            cursor: pointer;
        }

        .dropdown-menu {
            background-color: $body-bg;
            top: 140%;

            span {
                font-size: 1rem;
                font-weight: bolder;
                color: $purple;
            }

            a {
                padding-left: 2.5rem;

                &:hover {
                    background-color: darken($body-bg, 2%);
                }
            }
        }
    }

    #snb-right {

        .material-icons {
            transform: scale(1.3);
        }

        .user-dropdown {
            min-width: 250px;
            width: 250px;
            background-color: $body-bg;
        }

        .cart {
            .count {
                color: $purple;
                font-weight: bold;
            }
        }
    }

}


@media screen and (max-width: 992px) {
    .user-dropdown {
        position: absolute;
        left: -235%;
    }
}

@media screen and (max-width: 767px) {
    .user-dropdown {
        position: absolute;
        left: 0;
    }
}
