.row {
  width: 100%;
  max-width: 100%;
}

ul {
  height: 100%;
}

#second-navbar #snb-left #logo {
  max-height: 60px;
}

#second-navbar #snb-center {
  font-weight: bolder;
}

#second-navbar #snb-center .pointer {
  cursor: pointer;
}

#second-navbar #snb-center .dropdown-menu {
  background-color: #f8fafc;
  top: 140%;
}

#second-navbar #snb-center .dropdown-menu span {
  font-size: 1rem;
  font-weight: bolder;
  color: #9561e2;
}

#second-navbar #snb-center .dropdown-menu a {
  padding-left: 2.5rem;
}

#second-navbar #snb-center .dropdown-menu a:hover {
  background-color: #f1f5f9;
}

#second-navbar #snb-right .material-icons {
  transform: scale(1.3);
}

#second-navbar #snb-right .user-dropdown {
  min-width: 250px;
  width: 250px;
  background-color: #f8fafc;
}

#second-navbar #snb-right .cart .count {
  color: #9561e2;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .user-dropdown {
    position: absolute;
    left: -235%;
  }
}

@media screen and (max-width: 767px) {
  .user-dropdown {
    position: absolute;
    left: 0;
  }
}

